
body{
margin:0;
background:black;
color:white;
font-family:Arial;
text-align:center;
overflow-x:hidden;
}

#intro{
position:fixed;
width:100%;
height:100%;
background:black;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
animation:fadeOut 3s forwards;
animation-delay:2s;
}

@keyframes fadeOut{
to{
opacity:0;
visibility:hidden;
}
}

.logo{
width:280px;
box-shadow:0 0 50px red;
border-radius:20px;
}

.title{
font-size:50px;
color:red;
margin-top:20px;
}

.nav{
margin-top:30px;
}

.nav a{
color:white;
text-decoration:none;
margin:10px;
border:1px solid red;
padding:10px 20px;
}

.nav a:hover{
background:red;
}

.rank{
border:1px solid red;
margin:20px auto;
padding:20px;
width:300px;
}
